@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --color-haya-blue: #2563eb;
  --color-haya-blue-light: #3b82f6;
  --color-haya-blue-soft: #eff6ff;

  --color-haya-navy: #0f172a;
  --color-haya-text: #18181b;
  --color-haya-muted: #71717a;
  --color-haya-border: #e4e4e7;

  --color-haya-background: #fafafa;
}

:root {
  font-family: "Manrope", sans-serif;
  color: #18181b;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fafafa;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}